.avatarWrapper-3H_478 foreignObject {
    mask: none;
}

.avatarWrapper-3H_478  {
    transform: scale(3.2);
    margin-left: -5px;
    margin-bottom: 100px;
}

.avatarWrapperNormal-3wFMbf {
    margin-top: 50px;
}

.avatarWrapper-3H_478 .pointerEvents-2zdfdO {
    mask: none;
    width: 80px;
    height: 4px;
    x: 0;
    y: 78;
}

.avatarHintInner-Dco91E {
    font-size: 40%;
    height: 98%;
}
